.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.tern-project
node_modules/*
app/lib/angular.js
app/lib/angular-route.js
test/lib/angular-mocks.js
test/lib/ngMock.js
target/KaramTestRunner-1.jar
target/maven-archiver/pom.properties
.idea/jsLibraryMappings.xml
.idea/libraries/MyLittleDarkCandyPonyBoxGame_node_modules.xml
.idea/modules.xml
.idea/MyLittleDarkCandyPonyBoxGame.iml
.idea/vcs.xml
.idea/workspace.xml
