<!DOCTYPE html>
<html lang="en" ng-app="ponyApp">
<head>
<title>My Little Dark Candy Pony Box Game</title>
<meta charset="utf-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="navbar navbar-default" ng-controller="HeaderController as ctrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                </button>
            </div>
            <p class="navbar-brand">My Little Dark Candy Pony Box Game</p>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><p class="navbar-text">(v {{ctrl.major}}.{{ctrl.minor}})</p></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="link in ctrl.links"><p class="navbar-text">{{link.title}}</p></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 panel panel-default" ng-controller="HistoryController as ctrl">
            <div class="panel-body">
                <p ng-repeat="line in ctrl.queue track by $index">{{line}}</p>
            </div>
        </div>
        <div class="col-md-9" ng-controller="TabController">
            <tabset>
                <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" select="onTabSelected(tab.url)">
                    <div ng-view></div>
                </tab>
            </tabset>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.12.1.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/history.js"></script>
    <script src="scripts/services/time.js"></script>

    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/history.js"></script>
    <script src="scripts/controllers/tab.js"></script>
    <script src="scripts/controllers/town.js"></script>
    <script src="scripts/controllers/roster.js"></script>
    <script src="scripts/controllers/options.js"></script>
    <script src="scripts/controllers/achievements.js"></script>
</body>
</html>