html, body {
    height: 94%;
}

.row, .panel {
    height: 100%;
}

.border {
	border-style: solid;
	border-width: 1px;
}

#tabContainer {
	height: 80%;
	min-height: 630px;
	min-width: 1200px;
}

#topWrapper, #bottomWrapper {
	height: 50%;
	min-height: 300px;
}

#ground, #calendar {
	height: 30px;
}

.statPanel {
	min-height: 150px;
}

.artPanel, .resourcePanel {
	min-height: 270px;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}