html, body {
	height: 94%;
}

pre {
	background-color: #ffffff;
	border: none;
	display: block;
	font-size: 13px;
	line-height: 1.42857;
	margin: 0px;
	padding: 0px;
	word-break: normal;
	word-wrap: normal;
	overflow: hidden;
}

.row, .panel {
	height: 100%;
}

.border {
	border-style: solid;
	border-width: 1px;
}

.tab {
	height: 80%;
	min-height: 630px;
	min-width: 1200px;
}

#townContainer div {
	padding: 0px;
	margin: 0px;
}

#topWrapper, #bottomWrapper {
	height: 50%;
	min-height: 300px;
}

#ground, #calendar {
	height: 30px;
}

.statPanel {
	min-height: 150px;
}

.artPanel, .resourcePanel {
	min-height: 270px;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}